<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storyblok>
            <home_page>
                <home_slug>home</home_slug>
            </home_page>
        </storyblok>
        <sitemap>
            <storyblok>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </storyblok>
        </sitemap>
    </default>
</config>
