<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="medialounge" translate="label" sortOrder="999">
            <label>Media Lounge</label>
        </tab>
        <section id="storyblok" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Storyblok</label>
            <tab>medialounge</tab>
            <resource>MediaLounge_Storyblok::storyblok_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="storyblok/general/enabled">1</field>
                    </depends>
                </field>
                <field id="webhook_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhook Secret</label>
                    <validate>required-entry validate-length minimum-length-20</validate>
                    <depends>
                        <field id="storyblok/general/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="home_page" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Home Page</label>
                <field id="home_slug" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Home Slug</label>
                    <comment>The slug used for the content on the home page.</comment>
                    <depends>
                        <field id="storyblok/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="sitemap">
            <group id="storyblok" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Storyblok Options</label>
                <field id="changefreq" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Frequency</label>
                    <source_model>Magento\Sitemap\Model\Config\Source\Frequency</source_model>
                </field>
                <field id="priority" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Priority</label>
                    <backend_model>Magento\Sitemap\Model\Config\Backend\Priority</backend_model>
                    <comment>Valid values range from 0.0 to 1.0.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
