name: Coding Standards

on: [push, pull_request]

jobs:
    phpcs:
        runs-on: ubuntu-18.04
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP 7.3
              uses: shivammathur/setup-php@master
              with:
                  php-version: '7.3'
                  extensions: gd, intl, xsl, zip, pdo, pdo_mysql, soap, bcmath, sodium
                  tools: composer:v1, prestissimo
            - name: Install composer dependencies
              run: |
                  composer global config http-basic.repo.magento.com ${{ secrets.MAGENTO_PUBLIC_KEY }} ${{ secrets.MAGENTO_PRIVATE_KEY }}
                  composer install --prefer-dist --no-interaction --no-progress --no-suggest
            - name: Run phpcs
              run: |
                  ./vendor/bin/phpcs --config-set installed_paths vendor/magento/magento-coding-standard/
                  ./vendor/bin/phpcs --config-set ignore_warnings_on_exit 1
                  ./vendor/bin/phpcs --standard=Magento2 --extensions=php,phtml --error-severity=10 --ignore-annotations --ignore="*vendor/*" .
